<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale = 1.0"/>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.js"></script>


  <style>
      body {
          background: #fff;
          padding: 0;
          margin: 0;
      }

      .main-messages {
          width: 269px;
          margin: 0 auto;
          /*border: 1px solid #f00;*/
      }

      .location-finder {
          width: 100%;
          text-align: center;
          margin-top: 50px;
      }

      .panic-button-img {
          margin-top: 20px;
      }


      .messages-img {
        margin-top: 20px;
      }

      @media screen and (max-device-width: 480px) {
          body {
              -webkit-text-size-adjust: none;
              font-family: Helvetica, Arial, Verdana, sans-serif;
              /*padding:5px;*/
          }

          .main-messages {
              width: 450px;
              margin: 0 auto;
          }
      }

      @media only screen and (max-device-width: 320px) {
          .main-messages {
              width: 305px;
              margin: 0 auto;
          }
      }


  </style>


</head>

<body>
<section class="main-messages">
  <img src="images/SelectMessages.gif" class="messages-img" width="269" height="300" /> <!-- screen image -->
</section>

</body>
</html>